<!doctype html>
<title>{% block title %}{% endblock %} - Delhivery-HRMS</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Delhivery-HRMS</h1>
  <ul>
    {% block navbar%}
    {% if g.user %}
    <li><span> Welcome, {{ g.user["username"] }}</span>
    <li><a href="{{ url_for('logout') }}">Log Out</a>
      {% else %}
    <li><a href="{{ url_for('login') }}">Log In</a>
    <li><a href="{{ url_for('register') }}">Register</a>
      {% endif %}
      {%endblock navbar%}
  </ul>
</nav>

<body>
  <script>
    window.onload = function () {
        setTimeout(dissappeardiv,3000);
    }
    function dissappeardiv() {
        document.getElementById('flash').style.display= "None";
    }
  </script>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div id="flash" class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>